CompileFlags:
  CompilationDatabase: .
  Add:
    - -I/opt/ros/jazzy/include
    - -I${workspaceFolder}/src/causal_slam/src
    - --std=c++23
  Remove:
    - -fcolor-diagnostics
    - -fdiagnostics-color

Index:
  Background: Build
